<!DOCTYPE html>
<html lang="en">
<head>
    <title>About</title>
    
    <link rel="stylesheet" href="/style/style.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="main_content">
    {{>header}}
    <img src="/images/123.jpg" alt="Fazeel" class="portrait"/>
    <p>Created by {{name}}</p>
    </div>
    
    {{>footer}}
</body>
</html>